* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #404040;
}

:focus {
    outline: none;
}

a {
    color: black;
}

.container {
    max-width: 1170px;
    margin: auto;
}

header {
    padding: 20px 0 20px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.06);
}

.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    text-align: center;
}

.header__logo h1 {
    display: block;
    margin: 0;
}

.header__logo img {
    width: 15%;
}

.header__logo a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
}

.header__logo p {
    margin: 0;
    font-size: 12px;
    color: #404040;
}

.header__menu ul {
    display: flex;
    list-style: none;
}

.header__menu ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 30px;
}

.header__menu ul li:last-child a {
    margin-right: 0px;
}


/* =========== main ============ */

.main {
    display: flex;
}

.main img {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.main .content {
    margin-top: 40px;
}

.main__left {
    border-right: 1px solid blanchedalmond;
    width: 70%;
    padding: 20px;
}

.main__left img {
    width: 100%;
}

.main__right {
    width: 30%;
}

.content p {
    text-align: justify;
    color: #404040;
    font-size: 14px;
    line-height: 1.5;
}

.content h2 {
    color: #000080;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.content b {
    color: #000080;
}

.content__blog ul li {
    list-style: decimal;
    margin-bottom: 3px;
}

.main__right {
    margin-top: 60px;
}

.right-bar a:hover {
    color: coral;
}

.right-bar {
    padding: 33px;
}

.right-bar li {
    margin-bottom: 10px;
}

.banner-news {
    background-image: url(http://fit.ptithcm.edu.vn/wp-content/uploads/2020/06/cropped-102986750_3158226477567487_984226516416087044_n-3.png);
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 0;
    position: relative;
}

.banner-news::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.title__page {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.item__header {
    display: flex;
}

.entry-date {
    color: #ffb606;
    font-size: 60px;
    font-weight: 700;
    height: 85px;
    width: 95px;
    float: left;
    line-height: 60px;
    color: #ffb606;
    position: relative;
}

.entry-date:after {
    content: '';
    content: '';
    position: absolute;
    width: 1px;
    top: 4px;
    right: 0;
    bottom: 5px;
    background: #eee;
}

.entry-contain {
    margin-left: 10px;
}

.entry-contain .entry-meta i {
    color: #ffb606;
    margin-right: 5px;
    font-size: 14px;
}

.entry-meta {
    margin-top: 10px;
    margin-bottom: 10px;
}

.entry-meta a {
    margin-right: 20px;
    font-size: 14px;
}

.entry-title {
    color: #404040;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
}

.item__content p {
    font-size: 15px;
    line-height: 1.5;
    color: #404040;
    margin: 1.5em 0;
}

.readmore a {
    background: none;
    color: #404040;
    border: 2px solid #404040;
    border-radius: 2px;
    padding: 10px 15px;
    display: inline-block;
    line-height: 1;
}